.page-header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #416165;
    text-shadow: 1px 0 1px #ccc, 0 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;

}

.list-deals .list-group-item {
    display: inline-flex;
    margin-bottom: 1em;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    background-color: rgba(65, 97, 101, 0.2)
}

.list-deals .img-deal {
    float: left;
    margin: auto;
}

.list-deals .img-deal > img {
    width: 130px;
    padding: 0 0.5em;
}

.list-deals .text-deal {
    flex: 1;
    padding: 1em;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.list-deals .text-deal span {
    padding: 0 0 0 1em;
}

.list-deals .text-deal span.pvp {
    text-decoration: line-through;
    font-style: italic;
}

.list-deals .text-deal span.pvs {
    color: red;
    font-weight: bold;
}

.list-deals .text-deal .img-store {
    padding: 0.5em;
    width: 50px;
    height: auto;
}

.list-deals .text-deal .store-deal {
    align-items: center;
}

.btn-search {
    background-color: #0B3948;
    color: #ffffff;
}

@media (max-width: 576px) {
    .list-deals .text-deal {
        border-left: none;
    }
}