.list-deals .list-group-item {
    display: inline-flex;
    margin-bottom: 1em;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
}

.list-deals .img-deal {
    float: left;
    margin: auto;
}

.list-deals .img-deal > img {
    min-width: 50px;
    padding: 0 0.5em;
}

.list-deals .text-deal {
    flex: 1;
    padding: 1em;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.list-deals .text-deal span {
    padding: 0 0 0 1em;
}

.list-deals .text-deal span.pvp {
    text-decoration: line-through;
    font-style: italic;
}

.list-deals .text-deal span.pvs {
    color: red;
}

@media (max-width: 576px) {
    .list-deals .text-deal {
        border-left: none;
    }
}