.loading-spinner {
    margin-top: 5em;
    margin-bottom: 1em;
}

.loading-spinner .spinner-grow {
    width: 6rem;
    height: 6rem;
    color: #dc3545;
}

.loading-span > span {
    font-size: 2rem;
    font-weight: lighter;
    color: #ffc300;
}